:root {
  --primary: rgb(22, 82, 240);
  --text: rgb(5, 15, 25);
  --text-muted: rgba(17, 51, 83, 0.6);
  --text-hint: rgba(17, 51, 83, 0.3);
  --divider: rgb(236, 239, 241);
  --background: rgb(255, 255, 255);
  --font-family: Graphik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.theme--dark {
  --text: white;
  --text-muted: rgba(255, 255, 255, 0.85);
  --text-hint: rgba(255, 255, 255, 0.5);
  --divider: rgb(35, 35, 35);
  --background: rgb(17, 17, 17);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: 1.4rem;
  font-family: var(--font-family);
  line-height: 1.6;
  font-weight: 400;
  color: var(--text-muted);
  background-color: var(--background);
  padding: 24px;
}

h1 {
  font-family: var(--font-family);
  font-size: 3.2rem;
  line-height: 1.3;
  font-weight: 500;
  color: var(--text);
}

h2 {
  font-family: var(--font-family);
  font-size: 2.2rem;
  line-height: 1.3;
  font-weight: 500;
  color: var(--text);
}

h3 {
  font-family: var(--font-family);
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 500;
  color: var(--text);
}

h4 {
  font-family: var(--font-family);
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 400;
  color: var(--text);
}

p,
li {
  color: var(--text);
}

a {
  color: var(--primary);
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: var(--divider);
  margin: 0;
  padding: 0;
  border: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

svg {
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
